# ignore all files in the root of the repository
*.log

bin/
obj/

######################
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

######################
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.lib
*.ncb
*.sdf
*.ipch
*.aps
*.pch
*.vspscc
*.vssscc